.container {
  width: 80%;
  text-align: center;
  margin-inline: auto;
}

.container h1 {
  font-size: 2.5rem;
  text-shadow: 1px 1px 12px #3e2206;
  margin: 0;
  color: white;
}

.container p {
  font-size: 1rem;
  color: white;
}

.container-flex {
  width: 80%;
  text-align: center;
  margin-inline: auto;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
