.footer {
  background-color: rgb(65, 38, 0);
  padding-block: 50px;
}

.footer-content {
  margin: auto;
  width: 50%;
  color: rgb(255, 224, 184);
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.fa-brands {
  color:  rgb(255, 224, 184);
  font-size: 2rem;
}

.fa-brands:hover {
  color:  rgb(169, 112, 37);
  font-size: 2.5rem;
}
